/*---------------------------------------
Betta CSS

A collection of CSS styles.

A project by Isak Combrinck & Dahman Ramdani.

V 0.0.4 (early alpha)

NOTE: only compile this file.
E.g. sass --watch betta-0.0.4.scss betta-0.0.4.css

### Deprecated
- #page, use main instead
- .material-icons-round, use .icon instead
- .custom-icon, use .icon instead
---------------------------------------*/

@import 'normalize';

/*---------------------------------------
	Colors
---------------------------------------*/

$color-main: #212121 !default;
$color-secondary: #e0e0e0 !default;
$color-accent: #f5f5f5 !default;
$color-background: #ffffff !default;
$color-active: #eeeeee !default;

/*---------------------------------------
  Shady stuff
---------------------------------------*/
/* level 0 */
$shadow-level-0: 0 0 0 0 rgba(0,0,0,0.2);

/* level 1 */
$shadow-level-1: 0 1px 3px 1px rgba(0,0,0,0.2);

/* level 2 */
$shadow-level-2: 0 2px 6px 1px rgba(0,0,0,0.2);

/* level 2 inversed */
$shadow-level-2-i: 0 -2px 6px 1px rgba(0,0,0,0.2);

/*---------------------------------------
  Font sizing
---------------------------------------*/
$font-small: 0.8rem;
$line-height: 1.6rem;

/*---------------------------------------
  Transitions
---------------------------------------*/
$transition-default: 0.2s;


/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
    Default HTML
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/

body {
  margin: 0;
  font-size: 16px;
}

#page,
main {
	padding: 3rem 2rem;
	overflow-x: hidden;
}

main {
	max-width: 100%;
}

@media(max-width: 800px) {
    #page,
    main {
        padding: 0 2rem 6rem 2rem;
        overflow-x: hidden;
    }
}

body, nav, main, div, article, section,
header, button, ul, li, a, p, img {
	box-sizing: border-box;
}

i {
	vertical-align: top;
}

i, img, picture, button, button>span, .click-plane, details>summary,
nav>ul, nav>ul>li, nav>ul>li>a, article>a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

article {
    width: 100%;
    max-width: 30rem;
	margin: 0 auto;
}

article.wide {
    width: 100%;
	max-width: 55rem;
	margin: 0 auto;
}

ul {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
	padding-left: 2rem;
}

li {
	list-style-type: disc;
}

/*---------------------------------------
	Typographical Elements
---------------------------------------*/
h1, h2, h3, h4, h5, h6, p, a, li, textarea, option, input, select, button {
	color: #212121;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

p, li, textarea, option, input, select, button {
  	font-size: 1rem;
	letter-spacing: 0.025rem;
}

p, li, input, textarea {
  	line-height: $line-height;
}

p {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
}

p.small {
    font-size: $font-small;
}

ul.indent {
    margin-top: 0;
    padding-left: 1rem;
}

ul.plain li {
    list-style: none;
}

p>a,
h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a,
li>a {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-color: $color-secondary;
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
	border-bottom-width: 4px;
}

p>a:hover,
h1>a:hover,
h2>a:hover,
h3>a:hover,
h4>a:hover,
h5>a:hover,
h6>a:hover,
li>a:hover {
	border-color: $color-main;
}

p>a.icon {
	border: none;
}

p>a.icon>img {
	width: 2rem;
	transition: 0.3s;
}

p>a.icon:hover>img {
	opacity: 0.8;
	transition: 0.1s;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

h1 {
	font-size: 2.5rem;
	line-height: 3.2rem;
	letter-spacing: 0.1rem;
	margin-top: 3.2rem;
}

h2 {
	font-size: 2rem;
	line-height: 2.75rem;
	letter-spacing: 0.075rem;
	margin-top: 2.5rem;
	margin-bottom: 0.8rem
}

h3 {
	font-size: 1.6rem;
	line-height: 2.15rem;
	letter-spacing: 0.05rem;
	margin-top: 2.15rem;
}

h4 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	letter-spacing: 0.05rem;
	margin-top: 1.75rem;
}

h5 {
	font-size: 1rem;
	line-height: $line-height;
	letter-spacing: 0.05rem;
	margin-top: 1.6rem;
}

h6 {
	font-size: 1rem;
	line-height: $line-height;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	margin-top: 1.6rem;
}

hr {
	border: none;
	border-style: solid;
	border-width: 1px;
    color: $color-secondary;
}

/*
@media(max-width: 800px) {
  h1 {
	  font-size: 2.25rem;
	  line-height: 3rem;
	  letter-spacing: 0.035rem;
  }
}

@media(max-width: 600px) {
  h1 {
	  font-size: 1.75rem;
	  line-height: 2.5rem;
  }
}
*/

form>a {
	font-size: $font-small;
}

details>summary {
	outline: none;
	cursor: pointer;
	margin-bottom: -0.75rem;
}


details>summary>h1,
details>summary>h2,
details>summary>h3,
details>summary>h4,
details>summary>h5,
details>summary>h6,
details>summary>p {
	display: inline-block;
}

details>summary>p {
	margin-bottom: 0;
}

details {
	margin-bottom: 1.6rem;
	border-bottom: 0.7rem solid $color-secondary;
}

/*-------------------------------------*/

/*---------------------------------------
	header
---------------------------------------*/
header {
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
}

header.hero {
    text-align: center;
}

header.hero img {
    width: 100%;
    padding: 0 2rem;
}

header.hero>h1 {
    font-size: 6rem;
    padding-bottom: 7rem;
    font-style: italic;
    letter-spacing: 0.35rem;
    text-transform: uppercase;
    text-shadow: -2px -2px 2px rgba(0,0,0,0.2);
}

@media (max-width:800px) {
    header.hero>h1 {
        font-size: 4rem;
        letter-spacing: 0.15rem;
        line-height: 5rem;
        padding-bottom: 3rem;
    }
}
/*-------------------------------------*/

/*---------------------------------------
	Loader
---------------------------------------*/
#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $color-accent;
    z-index: 101;
}

#loader.show {
    display: block;
}

#spinner {
    position: absolute;
    top: calc(50vh - 2.5rem);
    left: calc(50vw - 2.5rem);
    border: 16px solid $color-secondary;
    border-top: 16px solid $color-main; 
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/*-------------------------------------*/

/*---------------------------------------
  Tooltip
---------------------------------------*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip>span.tooltip-text {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	height: auto;
	width: auto;
    top: 2.75rem;
    left: -3rem;
    right: -3rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.75rem;
	text-align: center;
	font-size: $font-small;
	line-height: 1rem;
	z-index: 8;
    background-color: $color-main;
    color: $color-active;
	transition-delay: 0s;
}

.tooltip:hover>span.tooltip-text {
	visibility: visible;
	opacity: 1;
    transition: opacity 0.2s;
	transition-delay: 1s;
}

// Arrow at top of tooltip
.tooltip>span.tooltip-text::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $color-main transparent;
}

// Use tooltip as menu text in mobile menu
@media(max-width: 800px) {
    nav .tooltip>span.tooltip-text {
        visibility: visible;
        opacity: 1;
        top: 0;
        bottom: 0;
        left: 3rem;
        right: auto;
        padding: 0.5rem 0.5rem;
        text-align: left;
        font-size: 1rem;
        line-height: $line-height;
        background-color: $color-background;
        color: $color-main;
    }

    nav .tooltip>span.tooltip-text::after {
        display: none;
    }

    nav.toolbar .tooltip>span.tooltip-text {
        visibility: hidden;
    }
}

// Display tooltip to right on sidebar
.sidebar .tooltip>span.tooltip-text {
    top: 0.5rem;
    left: 3rem;
    right: -9rem;
}

.sidebar .tooltip>span.tooltip-text::after {
    display: none;
}
/*-------------------------------------*/

/*---------------------------------------
  Banner type stuff
---------------------------------------*/
.betta-banner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
	box-shadow: $shadow-level-1;
	background: #fff;
}

.betta-banner>p {
	margin: 0.35rem;
}

.betta-support {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
}

.betta-support>button {
	display: block;
	margin-top: 1rem;
}
/*-------------------------------------*/

/*---------------------------------------
	Action Menu
---------------------------------------*/
.betta_action-menu {
	position: fixed;
	bottom: 40vh;
	right: 1rem;
	z-index: 10;
}

.betta_action-menu button {
	position: relative;
	display: block;
	margin-bottom: 1rem;
}

.betta_action-menu>button {
	display: none;
}

.betta_action-menu>.content {
	display: block;
}

.betta_action-menu>.blur-pane {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: -5rem;
	left: 0;
	background: rgba(255,255,255,0.75);
	-webkit-backdrop-filter: blur(1rem);
	backdrop-filter: blur(1rem);
}

@media(min-width: 801px) {
	.betta_action-menu>.content {
		display: block !important;
	}
}

@media(max-width: 800px) {
	.betta_action-menu {
		bottom: 0;
	}

	.betta_action-menu>button {
		display: block;
	}

	.betta_action-menu>.content {
		display: none;
	}

	.betta_action-menu>.content.show {
		display: block;
	}

	.betta_action-menu>.blur-pane {
		display: block;
		visibility: hidden;
		opacity: 0;
		-webkit-backdrop-filter: blur(0);
		backdrop-filter: blur(0);
		transition: 0.2s;
	}

	.betta_action-menu>.blur-pane.show {
		visibility: visible;
  		opacity: 1;
		-webkit-backdrop-filter: blur(1rem);
		backdrop-filter: blur(1rem);
	}
}

/*-------------------------------------*/

/*---------------------------------------
  Pictures 
---------------------------------------*/
picture>img {
	width: 100%;
}
/*-------------------------------------*/

/*---------------------------------------
	Images
---------------------------------------*/
img {
	max-width: 100%;
}

img.round {
	border-radius: 50%;
}

.betta_image {
}

.betta_image>div {
    position: relative;

}

.betta_image>div img {
    margin-bottom: -3px;
    border-radius: 0;
}

.betta_image .name {
    position: absolute;
    left: 0;
    bottom: -1rem;

    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right bottom;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: right bottom;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: right bottom;
    -o-transform: rotate(-90deg);
    -o-transform-origin: right bottom;
    transform: rotate(-90deg);
    transform-origin: left bottom;
}

/*-------------------------------------*/

/*---------------------------------------
	Forms
---------------------------------------*/
form {
    margin: 0;
    padding-bottom: $line-height;
}

form label,
form button {
    vertical-align: middle;
    text-align: left;
}

form button[type="submit"] {
	margin-top: $line-height;
}

form .inline-single button[type="submit"] {
	margin-top: 0.5rem;
}

form button.show {
    display: inline-block;
}

// Make all buttons of type button small on forms
form button[type="button"] .material-icons-round {
    font-size: 1rem;
}

// Hide file input fields
form input[type="file"] {
    display: none;
}
/*-------------------------------------*/

/*---------------------------------------
	Main Navigation Menu
	Back Button
---------------------------------------*/
#betta_menu {
	position: absolute;
    left: 0;
    right: 0;
	text-align: center;
	transition: 0.3s;
	overflow: show;
	z-index: 10;
	background: $color-background;
}

.menu-spacer {
    display: block;
    padding-top: 2.5rem;
}

/*-------------------*/
/* Stick Menu        */
/*-------------------*/
#betta_menu.stick {
	position: fixed;
    top: 0;
	box-shadow: $shadow-level-2;
}
/*-------------------*/

#betta_menu ul {
	padding: 0;
	margin: 0;
  	text-align: center;
}

#betta_menu ul li {
  	display: inline-block;
  	margin: 0.25rem;
	list-style: none;
}

#betta_menu ul li a {
	display: inline-block;
	border-radius: 2rem;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: 700;
}

#betta_menu ul li a .material-icons-round,
#betta_menu ul li a .text {
	display: block;
	height: 1.5rem;
	padding: 0.5rem;
	line-height: 1.5rem;
}

#betta_menu ul li a .text {
	padding: 0.25rem 0.75rem;
}

#betta_menu ul li a.active {
  	background: $color-secondary;
}

#betta_menu ul li button {
	z-index: 99;
}

#betta_menu ul li a:active {
	background: $color-active;
	transition: 0.1s;
}

/*-------------------*/
/* Sidebar Menu      */
/*-------------------*/
.sidebar {
    bottom: 0;
	width: 12rem;
    padding: 1rem;
    box-shadow: none;
}

.sidebar>ul>li {
    display: block;
    text-align: left;
}

@media (min-width: 800px) {
    .sidebar {
        width: 5rem;
    }
}

.sidebar + main {
	margin-left: auto;
}
/*-------------------*/

#betta_menu-button {
    display: none;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
    width: 4rem;
    height: 4rem;
	box-shadow: $shadow-level-2;
	z-index: 11;
}

#back-button {
    display: block;
	position: fixed;
	top: 1rem;
	left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
	box-shadow: $shadow-level-2;
	z-index: 10;
}

#betta_menu-button:active,
#back-button:active {
	box-shadow: $shadow-level-0;
}

@media (hover: hover) {
	#betta_menu ul li a:hover {
		background: $color-accent;
	}
	#betta_menu ul li a.active:hover {
		background: $color-secondary;
  	}
}

@media (max-width: 800px) {
    #back-button {
        top: auto;
        bottom: 1rem;
        width: 4rem;
        height: 4rem;
    }

	.sidebar + main {
		margin-left: auto;
	}

    #betta_menu>ul {
		position: absolute;
        bottom: 5rem;
	}

	#betta_menu,
	.sidebar {
		display: none;
		padding: 5rem 3rem;
		width: auto;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-y: scroll;
	}

	#betta_menu.show,
	.sidebar.show {
		display: block;
	}

	#betta_menu>ul>li {
		display: block;
		text-align: left;
		margin-bottom: 0.75rem;
	}

	#betta_menu>ul>li>a {
		font-size: 1.25rem;
		line-height: 1.75rem;
		letter-spacing: 0.05rem;
	}
  
	#betta_menu-button {
		display: block;
	}

    /* Display menu as toolbar */
    #betta_menu.toolbar {
        display: block;
        top: auto;
		padding: 0.25rem 0 0.5rem 0;
        box-shadow: $shadow-level-2-i;
        overflow: hidden;
    }

    #betta_menu.toolbar>ul {
		position: static;
	}

    #betta_menu.toolbar>ul>li {
		display: inline-block;
		text-align: left;
		margin-bottom: 0rem;
	}
}

#betta_menu ul li a:active {
	background: $color-active;
	transition: 0.1s;
}

/*-------------------------------------*/

/*---------------------------------------
	Footer
---------------------------------------*/
footer {
	padding: 5rem 0 0 0;
	text-align: center;
}
/*-------------------------------------*/

/*---------------------------------------
	Custom Icon Replacements for
    Material Icons
---------------------------------------*/
.material-icons-round.custom-icon>img { /* deprecated */
    height: 1.5rem;
	color: $color-main;
}

span.icon {
    height: 1.5rem;
    width: 1.5rem;
    line-height: 0rem;
}

span.icon>img {
    height: 1.5rem;
    width: 1.5rem;
    line-height: 0rem;
	color: $color-main;
}
/*-------------------------------------*/

/*---------------------------------------
	Buttons
---------------------------------------*/
button {
    vertical-align: top;
    text-align: center;
    border: none;
    outline: none;
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
	padding: 0.25rem 1rem;
	border-radius: 2rem;
	box-shadow: $shadow-level-1;
	background: #ffffff;
	transition: 0.2s;
}

button:disabled {
	box-shadow: none;
	background-color: $color-accent;
}

button.dark {
	background: #212121;
}

@media(hover:hover) {
	button:hover:enabled {
		cursor: pointer;
		background: $color-accent;
		transition: 0.2s;
	}

	button.dark:hover:enabled {
		background: #616161;
	}
}

button:active:enabled {
	box-shadow: $shadow-level-0;
	background: $color-active;
}

button.dark:active:enabled {
	background: #424242;
}

.icon-button {
	padding: 0.5rem;
	border-radius: 2rem;
}

.icon-button.filled .material-icons-round, /* deprecated */
.icon-button.filled .icon {
	color: #212121;
}

.icon-button.filled:disabled,
.icon-button.filled:disabled .material-icons-round, /* deprecated */
.icon-button.filled:disabled .icon {
	color: #757575;
}

.icon-button .text {
	height: 100%;
	vertical-align: middle;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.icon-button .material-icons-round, /* deprecated */
.icon-button>.icon {
	vertical-align: middle;
	color: #212121;
	font-size: 1.8rem;
}

.icon-button .material-icons-round.custom-icon, /* deprecated */
.icon-button>.icon {
	font-size: 1rem;
}

.icon-button.dark .material-icons-round { /* deprecated */
	color: #ffffff;
}

@media(max-width: 800px) {
	.icon-button {
		padding: 0.75rem;
	}

	body>.icon-button .material-icons-round, /* deprecated */
    .icon-button>.icon {
		font-size: 2.5rem;
	}

    .icon-button .material-icons-round.custom-icon img, /* deprecated */
    .icon-button>.icon>img {
        height: 2.5rem;
        width: 2.5rem;
    }
}

.sliding-button {
	display: inline-block;
	margin: auto;
	margin-right: 0;
}

.sliding-button>.content {
    height: 1.5rem;
	width: 0;
	margin-bottom: -0.75rem;
	overflow: hidden;
	display: inline-block;
	transition: 0.2s;
}

.sliding-button:hover>.content {
	width: 12rem;
	display: inline-block;
	transition: 0.2s;
}

/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
    Custom Classes
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/

.center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.italic {
	font-style: italic;
}

/* 
Used to set preferred break points, which will occur
between lines
*/
.line {
    display: inline-block;
}

.no-scroll {
	overflow: hidden
}

@media(max-width: 800px) {
	.no-scroll-mobile {
		overflow: hidden
	}
}

.hidden {
	visibility: hidden;
}

.betta_hidden {
    display: none;
}

.click-plane {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.inline-single,
.inline-split,
.inline-ternate {
	box-sizing: border-box;
	display: inline-block;
	padding: 0 1rem 1rem 1rem;
	vertical-align: top;
}

.inline-single {
	width: 100%;
}

.inline-single label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

.inline-split {
	width: 50%;
}

.inline-split input,
.inline-split select,
.inline-split label {
	display: block;
	margin-bottom: 0.5rem;
	width: 100%;
}

.inline-split .material-icons-round,
.inline-single .material-icons-round {
	vertical-align: bottom;
}

.inline-ternate {
    width: 33.333333%
}

@media(max-width: 600px) {
	.inline-split,
    .inline-ternate {
		display: block;
		width: 100%;
	}
}

/*---------------------------------------
	Gallery
---------------------------------------*/
#gallery,
.gallery {
	margin: 0 -0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.gallery-item {
	box-sizing: border-box;
	vertical-align: top;
	display: inline-block;
	width: 50%;
	margin: 0;
	padding: 0 0.5rem 1rem 0.5rem;
}

.gallery-item>.content {
    position: relative;
}

.photo>img {
	width: 100%;
	box-shadow: $shadow-level-2;
	background: #f5f5f5;
	border-radius: 0.25rem;
}

.gallery-item>.content>.click-plane {
	border-radius: 0.25rem;
}

.gallery-item>.content>.click-plane.caption {
    background: $color-background;
    opacity: 0.85;
}

.gallery-item>.content>.click-plane.caption>p {
    padding: 0 1rem;
}

@media (max-width: 800px) {
    #gallery,
    .gallery {
        padding-bottom: 0rem;
    }

    .gallery-item {
        width: 100%;
        padding: 0 0.5rem 2rem 0.5rem;
    }
}

@media (max-width: 480px) {
    #gallery,
    .gallery {
        padding-bottom: 0.75rem;
    }

    .gallery-item {
        padding-bottom: 1.25rem;
    }
}
/*-------------------------------------*/

/*---------------------------------------
	Feed
---------------------------------------*/
.feed {
	max-width: 35rem;
	margin: 0 auto;
}

.feed>article>a {
	display: block;
	padding: 1rem;
	margin-top: 2rem;
	//border-radius: 0.25rem;
	border-color: $color-main;
	transition: 0.2s;
	//box-shadow: $shadow-level-1;
    border: 2px solid $color-active;
}

@media(hover: hover) {
	.feed>article>a:hover
	{
		//background: $color-accent;
        border-color: $color-main;
	}
}

.feed>article>a:active
{
	background: $color-active;
	box-shadow: $shadow-level-0;
}

.feed>article>a>h3 {
	margin: 0;
}

.feed>article>a>p {
	margin-bottom: 0;
}
/*-------------------------------------*/

/*---------------------------------------
	Link Card
---------------------------------------*/
a.card {
    position: relative;
	display: block;
	padding: 0;
	margin-top: 1rem;
	border-color: $color-secondary;
	transition: 0.2s;
    border-radius: 0.25rem;
    box-shadow: $shadow-level-2;
}

a.card .betta_image {
    height: 17rem;
    width: 25.5rem;
    background: $color-accent;
}

a.card .betta_image img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Cover card */
a.card.cover .betta_image img,
a.card.cover .betta_image {
    border-radius: 0.25rem;
}

a.card.cover .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0.25rem;
}

a.card.cover .content h2 {
    width: auto;
    margin: 12rem 0rem 0 0rem;
    padding: 0.5rem 1rem;
    text-align: center;
    background: $color-background;
    transition: 0.1s;
}

@media(hover: hover) {
	a.card:hover
	{
        background: $color-accent;
        cursor: pointer;
	}

    a.card.cover:hover .content h2
	{
	}
}

a.card:active
{
	background: $color-active;
    box-shadow: $shadow-level-0;
}

a.card p {
    margin-top: 0.5rem;
    padding: 0 2rem 2rem 2rem;
}

a.card h2,
a.card h3,
a.card h4 {
    margin-top: 1.5rem;
    padding: 0 2rem;
}

a.card h2,
a.card h3,
a.card h4 {
	font-size: 1.6rem;
	line-height: 2.15rem;
	letter-spacing: 0.05rem;
	margin-top: 2.15rem;
}
/*-------------------------------------*/

/*---------------------------------------
	Link Card Double
---------------------------------------*/
a.card-double {
	display: block;
    width: 55rem;
    height: 27.5rem;
	padding: 0;
	margin-top: 1rem;
	border-color: $color-secondary;
	transition: 0.2s;
    border-radius: 0.25rem;
    box-shadow: $shadow-level-2;
    overflow: hidden;
}

a.card-double .betta_image,
a.card-double .content {
    height: 100%;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

a.card-double .betta_image {
    background: $color-accent;
}

a.card-double .betta_image img {
    height: 27.5rem;
    width: 27.5rem;
    margin-bottom: -3px;
    border-radius: 0;
}

a.card-double .content {
    max-height: 100%;
    padding: 4rem 3rem 0 3rem;
}

@media(hover: hover) {
	a.card-double:hover
	{
        background: $color-accent;
        cursor: pointer;
	}
}

a.card-double:active
{
	background: $color-active;
    box-shadow: $shadow-level-0;
}

a.card p {
    margin-top: 0.5rem;
    padding: 0 2rem 2rem 2rem;
}

a.card-double h2,
a.card-double h3,
a.card-double h4 {
    text-align: center;
    margin-top: 1.5rem;
    padding: 0 0 1rem 0;
    border-bottom: 2px solid #e0e0e0;
}

a.card-double:hover h2,
a.card-double:hover h3,
a.card-double:hover h4 {
    border-bottom: 2px solid #212121;
    transition: 0.1s;
}

a.card-double h2,
a.card-double h3,
a.card-double h4 {
	font-size: 1.6rem;
	line-height: 2.15rem;
	letter-spacing: 0.05rem;
	margin-top: 2.15rem;
}
/*-------------------------------------*/

/*---------------------------------------
	Contact Card
---------------------------------------*/
.card.contact {
	display: inline-block;
	vertical-align: top;
	height: 20rem;
	width: 15rem;
	margin: 0.9rem;
    padding: 1rem;
    border-radius: 0.25rem;
    background: #ffffff;
}

.card.contact .picture {
    width: 13rem;
    height: 13rem;
    background: #f5f5f5;
    overflow: hidden;

}

.card.contact p{
	margin-top: 0.5rem;
}
/*-------------------------------------*/

/*---------------------------------------
	Card

    Not ready to be used.
---------------------------------------
.card {
	display: inline-block;
	vertical-align: top;
	height: 20rem;
	width: 15rem;
	margin: 1rem;
}

.card>.front,
.card>.back {
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: 0.25rem;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background: rgba(255,255,255,1);
	overflow: hidden;
}

.card>.front>img {
	height: 100%;
	width: auto;
	max-width: none;
	border-radius: 0.25rem;
}

.card>.back>.profile {
	height: 11rem;
	width: 100%;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.card>.back>.profile>img {
	position: absolute;
	height: 9rem;
	width: 9rem;
	top: 2rem;
	left: 3rem;
	border-radius: 50%;
}

.card>.back>.profile>.icon-left,
.card>.back>.profile>.icon-right {
	position: absolute;
	height: 3rem;
	width: 3rem;
	top: 0.5rem;
	border-radius: 50%;
}

.card>.back>.profile>.icon-left {
	left: 0.5rem; 
}

.card>.back>.profile>.icon-right {
	right: 0.5rem; 
}
.card>.back>.profile>.icon-left>.material-icons-round,
.card>.back>.profile>.icon-right>.material-icons-round {
	width: 100%;
	font-size: 2rem;
	line-height: 3rem;
	color: #212121;
	text-align: center;
}

.card>.back>.description {
	height: 9rem;
	width: 100%;
	padding: 1rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.card>.back>.description>h5 {
	height: 1.5rem;
	margin: 0;
}
.card>.back>.description>h6 {
	margin: 0;
}
.card>.back>.description>p {
	margin: 0;
}

.card>.back>.description>.properties {
	width: 100%;
}

.card>.back>.description>.properties>.p-1,
.card>.back>.description>.properties>.p-2,
.card>.back>.description>.properties>.p-3{
	width: 100%;
	height: 1rem;
	margin-top: 0.5rem;
	border-radius: 0.5rem;
}

.card>.back>.description>.properties>.p-1>div ,
.card>.back>.description>.properties>.p-2>div ,
.card>.back>.description>.properties>.p-3>div {
	height: 100%;
	border-radius: 0.5rem;
}

.card>.back>.description>.properties>.p-1>div:not(:first-child) {
	display: inline-block;
	width: calc(20% - 0.75rem);
	margin: 0 0.25rem;
	background: #eeeeee;
}

.card>.back>.description>.properties>.p-2>div:not(:first-child) {
	display: inline-block;
	width: calc(20% - 0.75rem);
	margin: 0 0.25rem;
	background: #eeeeee;
}

.card>.back>.description>.properties .icon {
	display: inline-block;
	height: 1rem;
	width: 1.25rem;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
.card>.back>.description>.properties .icon>.material-icons-round {
	font-size: 1.25rem;
	line-height: 1.25rem;
	height: 1rem;
	width: 1.25rem;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
.card>.back>.description>.properties>.p-3>div:not(:first-child) {
	display: inline-block;
	width: calc(12.5% - 0.65625rem);
	margin: 0 0.25rem;
	background: #eeeeee;
}

.water {
	background: lightseagreen !important;
}

.sun {
	background: orange !important;
}

.temperature-m-25 {
	background: steelblue !important;
}.temperature-m-20 {
	background: darkturquoise !important;
}.temperature-m-15 {
	background: skyblue !important;
}.temperature-m-10 {
	background: lightskyblue !important;
}.temperature-m-5 {
	background: lightblue !important;
}.temperature-0 {
	background: burlywood !important;
}.temperature-5 {
	background: yellow !important;
}.temperature-10 {
	background: orange !important;
}
-------------------------------------*/

/*---------------------------------------
	Flip Card
---------------------------------------*/
.flip-card {
	background-color: transparent;
	perspective: 1000px;
	vertical-align: top;
	display: inline-block;
}

.flip-card>.card {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 0.25rem;
}

.flip-card:hover>.card,
.flip-card>.card.active {
	transform: rotateY(180deg);
}

.flip-card>.card>.front,
.flip-card>.card>.back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card>.card>.front img {
	width: 100%;
	margin: 0;
	border-radius: 0.25rem;
}

.flip-card>.card>.back {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: rotateY(180deg);
}

.flip-card>.card>.back textarea {
	height: 100%;
	min-height: 0px;
	margin: 0;
	padding: 0;
}
/*-------------------------------------*/

/*---------------------------------------
	Lightbox
---------------------------------------*/
.lightbox {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background:#ffffff;
	z-index: 100;
}

.lightbox.open {
	display: block;
}

.lightbox .left,
.lightbox .middle,
.lightbox .right {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
}

.lightbox .left {
	width: 4rem;
	left: 0;
	padding: 1rem;
}

.lightbox .middle {
	display: table;
	height: 100vh;
	max-height: 100vh;
	width: calc(100vw - 8rem);
	left: 4rem;
	right: 4rem;
	text-align: center;
}

.lightbox .right {
	width: 4rem;
	right: 0;
	padding: 1rem;
}

#close, #caption {
	z-index: 99;
	position: absolute;
	display: block;
}

#caption {
	margin-top: 4rem;
}

#back, #forward {
	z-index: 99;
	position: absolute;
	margin-top: 45vh;
}

#back:disabled, #forward:disabled {
	display: none;
}

#back {
	left: 1rem;
}

#forward {
	right: 1rem;
}

.lightbox .middle .img,
.lightbox .middle .caption {
	width: 100%;
}

.lightbox .middle .img {
	display: table-cell;
	vertical-align: middle;
	padding: 1rem 0;
}

.lightbox .middle .img img {
	max-width: 100%;
	max-height: calc(100vh - 2rem);
	border-radius: 0.25rem;
}

.lightbox .middle .caption {
	display: none;
	position: absolute;
	top: 1.8rem;
	left: 1rem;
	width: auto;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	box-shadow: $shadow-level-2;
	background: #fff;
}

.lightbox .middle .caption.open {
	display: block;
}
/*-------------------------------------*/

/*---------------------------------------
	Version
---------------------------------------*/
p.version {
    position: fixed;
    right: 0.5rem;
    //bottom: 0;
    bottom: 70vh;
    width: 70vh;

    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right bottom;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: right bottom;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: right bottom;
    -o-transform: rotate(-90deg);
    -o-transform-origin: right bottom;
    transform: rotate(-90deg);
    transform-origin: right bottom;
}

@media(max-width: 800px) {
    p.version {
        display: none;
    }
}
/*-------------------------------------*/

/*---------------------------------------
	Notification
---------------------------------------*/
#notification {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 101;
}

#notification .buttons,
#notification .content {
	display: inline-block;
	vertical-align: middle;
}

#notification.show {
    display: block;
}

#notification .buttons {
	width: 20%;
}

#notification .content {
	width: 80%;
}

#notification .message {
	width: 20rem;
	align-content: right;
	margin: 1rem;
	padding: 1rem;
	float: right;
	border: solid 1px;
	border-color: rgb(129, 120, 106);
	border-radius: 1rem;
	word-wrap: break-word;
	background-color: #FF3737;
}

#cancel-notification {
	display: none;
	margin-bottom: 1rem;
}

#cancel-notification.show {
	display: block;
}
/*-------------------------------------*/
