body {
  margin: 0;
  background: $color-white;

  @media (max-width: 800px) {
    padding-bottom: 7rem;
  }
}

/* Fixes horizontal scrolling on Safari */
body,
html {
  position: relative;
  overflow-x: hidden;
}

main {
  padding: 3rem 2rem;
  overflow-x: hidden;
  max-width: 100%;

  @media (max-width: 800px) {
    padding: 0 2rem 1rem 2rem;
  }

  @media (max-width: 600px) {
    padding: 0 1rem 1rem 1rem;
  }
}

.dark {
  background: $color-base-10;
}

body.dark img {
  filter: brightness(0.9);
}

body,
nav,
main,
div,
span,
article,
section,
header,
button,
ul,
li,
a,
p,
img {
  box-sizing: border-box;
}

i {
  vertical-align: top;
}

a {
  /* Remove outline from links
  breaks tab through content highlighting */
  outline: none;
}

i,
img,
picture,
button,
button>span,
.click-plane,
details>summary,
nav>ul,
nav>ul>li,
nav>ul>li>a,
article>a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

article {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}

article.wide {
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
}

ul {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  padding-left: 2rem;
}

li {
  list-style-type: disc;
}

/*---------------------------------------
  Banner type stuff
---------------------------------------*/
.betta-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  box-shadow: $shadow-level-1;
  background: $color-white;
}

.dark .betta-banner {
  box-shadow: $dark-shadow-level-1;
  background: $color-base-10;
}

.betta-banner>p {
  margin: 0.35rem;
}

.betta-support {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}

.betta-support>button {
  display: block;
  margin-top: 1rem;
}

/*-------------------------------------*/

/*---------------------------------------
  Pictures 
---------------------------------------*/
picture>img {
  width: 100%;
}

/*-------------------------------------*/

/*---------------------------------------
	Images
---------------------------------------*/
img {
  max-width: 100%;
}

img.round {
  border-radius: $radius-round;
}

.betta_image>div {
  position: relative;
}

.betta_image>div img {
  margin-bottom: -3px;
  border-radius: 0;
  image-orientation: none;
}

.betta_image>div img.round {
  border-radius: $radius-round;
}

.betta_image .name {
  position: absolute;
  left: 0;
  bottom: -1rem;

  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: right bottom;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: right bottom;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin: right bottom;
  -o-transform: rotate(-90deg);
  -o-transform-origin: right bottom;
  transform: rotate(-90deg);
  transform-origin: left bottom;
}

/*-------------------------------------*/

/*---------------------------------------
	Slideshow
---------------------------------------*/

#crossfade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: 1.5s;
}

#crossfade.hidden {
  opacity: 0;
}

.betta_image.slideshow .selectors span {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  z-index: 5;
  color: $color-black;
}

.dark .betta_image.slideshow .selectors span {
  color: $color-base-1;
}

.betta_image.slideshow .selectors:hover {
  cursor: default;
}

.betta_image.slideshow .selectors span:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .betta_image.slideshow {
    display: none;
  }
}

/*-------------------------------------*/

/*---------------------------------------
  Home Button
	Menu Button
	Back Button
  Theme Button
---------------------------------------*/
#betta_home-button,
#betta_back-button {
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  width: 3rem;
  height: 3rem;
  z-index: 15;
}

#betta_menu-button {
  display: none;
  position: fixed;
  z-index: 11;
}

#betta_home-button button,
#betta_back-button button {
  width: 100%;
  height: 100%;
}

#betta_menu-button,
#betta_home-button button,
#betta_back-button button {
  box-shadow: $shadow-level-3;
}

.dark #betta_menu-button,
.dark #betta_home-button button,
.dark #betta_back-button button {
  box-shadow: $dark-shadow-level-3;
}

#betta_menu-button:active,
#betta_home-button:active button,
#betta_back-button:active button {
  box-shadow: $shadow-level-0;
}

#betta_home-button img {
  height: auto;
}

#betta_theme-button {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  width: 3rem;
  height: 3rem;
  z-index: 9;

  @media (max-width: 800px) {
    position: relative;
    top: 1.5rem;
    right: auto;
    bottom: auto;
  }
}

#betta_theme-light-icon,
.dark #betta_theme-dark-icon {
  display: none;
}

#betta_theme-dark-icon,
.dark #betta_theme-light-icon {
  display: block;
}

@media (max-width: 800px) {

  #betta_menu-button,
  #betta_back-button {
    top: auto;
    bottom: 1rem;
    left: calc(50vw - 2rem);
    width: 4rem;
    height: 4rem;
  }

  #betta_theme-button {
    width: 4rem;
    height: 4rem;
  }

  #betta_menu-button {
    display: block;
  }

  #betta_home-button {
    top: auto;
    bottom: 0.75rem;
    left: calc(50vw - 6rem) !important;

    @media (max-width: 800px) {
      display: none;
    }
  }
}

/*-------------------------------------*/

/*---------------------------------------
	Footer
---------------------------------------*/
footer {
  box-sizing: border-box;
  padding-top: 3rem;
  text-align: center;

  @media (min-width: 800px) {
    &>* {
      display: inline-block;
    }
  }

  a,
  button {
    vertical-align: middle;
  }

  p a {
    margin: 0;
    padding-top: 2rem;
  }

  .logo {
    height: 14rem;
    width: 14rem;
    padding: 2rem;
    margin: 0 auto 2rem auto;
  }
}

footer.rotated {
  @media (min-width: 800px) {
    text-align: left;
    position: fixed;
    bottom: 100vh;
    right: 0rem;
    width: 100vh;
    padding: 0 1rem;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right bottom;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: right bottom;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: right bottom;
    -o-transform: rotate(-90deg);
    -o-transform-origin: right bottom;
    transform: rotate(-90deg);
    transform-origin: right bottom;
  }

  p {
    margin: 0;
  }
}

/*-------------------------------------*/

/*---------------------------------------
	Custom Icon Replacements for
    Material Icons
---------------------------------------*/
.material-icons-round.custom-icon>img {
  /* deprecated */
  height: 1.5rem;
  color: $color-black;
}

span.icon {
  height: 1.5rem;
  width: 1.5rem;
  line-height: 0rem;
}

span.icon>img {
  height: 1.5rem;
  width: 1.5rem;
  line-height: 0;
}

.dark span.icon>img {
  filter: none;
}

.dark p span.icon>img {
  border-radius: $radius-round;
  background-color: $color-base-7;
}

span.icon.big {
  height: 4rem;
  width: 4rem;
  line-height: 0rem;
}

span.icon.big>img {
  height: 4rem;
  width: 4rem;
  line-height: 0rem;
  background: $color-base-2;
  border-radius: $radius-round;
  padding: 1rem;
}

.dark span.icon.big>img {
  background: $color-base-8;
}

p>.icon {
  vertical-align: bottom;
}

/*-------------------------------------*/

/*---------------------------------------
	Buttons
---------------------------------------*/
button {
  vertical-align: top;
  text-align: center;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  box-shadow: $shadow-level-1;
  background: $color-white;
  transition: $transition-default;
  font-weight: 700;
  text-transform: uppercase;
}

.dark button {
  box-shadow: $dark-shadow-level-1;
  background: $color-base-7;
}

button:disabled {
  box-shadow: none;
  background-color: $color-base-1;
}

.dark button:disabled {
  background-color: $color-base-9;
}

button.dark {
  background: $color-base-10;
}

.dark button.dark {
  background: $color-base-1;
}

@media (hover: hover) {
  button:hover:enabled {
    cursor: pointer;
    background: $color-base-1;
    transition: $transition-default;
  }

  .dark button:hover:enabled {
    background: $color-base-8;
  }

  button.dark:hover:enabled {
    background: #616161;
    /* TEMP */
  }
}

button:active:enabled {
  box-shadow: $shadow-level-0;
  background: $color-base-2;
}

.dark button:active:enabled {
  background: $color-base-9;
}

button.dark:active:enabled {
  background: #424242;
  /* TEMP */
}

.icon-button {
  height: auto !important;
  width: auto !important;
  padding: 0.5rem;
  border-radius: 2rem;

  @media (min-width: 800px) {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.icon-button.filled .material-icons-round

/* deprecated */
  {
  color: $color-black;
}

.dark button.icon-button img {
  filter: brightness(1);
}

.dark .icon-button.filled .icon {
  color: $color-base-1;
}

.icon-button.filled:disabled,
.icon-button.filled:disabled .material-icons-round,
/* deprecated */
.icon-button.filled:disabled .icon {
  color: $color-base-7;
}

.dark .icon-button.filled:disabled,
.dark .icon-button.filled:disabled .icon {
  color: $color-base-7;
}

.icon-button .text {
  display: inline-block;
  height: $line-height;
  vertical-align: middle;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.icon-button .material-icons-round,
/* deprecated */
.icon-button>.icon {
  vertical-align: top;
  color: $color-black;
  font-size: 1.8rem;
}

.dark .icon-button>.icon {
  color: $color-base-1;
}

.icon-button .material-icons-round.custom-icon,
/* deprecated */
.icon-button>.icon {
  font-size: 1rem;
}

.icon-button.dark .material-icons-round {
  /* deprecated */
  color: $color-white;
}

@media (max-width: 800px) {
  .icon-button {
    padding: 0.75rem;
  }

  body>.icon-button .material-icons-round,
  /* deprecated */
  .icon-button>.icon {
    font-size: 2.5rem;
  }

  .icon-button .material-icons-round.custom-icon img,
  /* deprecated */
  .icon-button>.icon>img {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.sliding-button {
  display: inline-block;
  margin: auto;
  margin-right: 0;
}

.sliding-button>.content {
  height: 1.5rem;
  width: 0;
  margin-bottom: -0.75rem;
  overflow: hidden;
  display: inline-block;
  transition: $transition-default;
}

.sliding-button:hover>.content {
  width: 12rem;
  display: inline-block;
  transition: $transition-default;
}

/* Simple button */

button.icon-button.simple,
.dark button.icon-button.simple {
  background: none;
  box-shadow: none;
  opacity: 0.5;
}

@media (hover: hover) {

  button.icon-button.simple:hover,
  .dark button.icon-button.simple:hover {
    background: none;
    opacity: 1;
  }
}

button.icon-button.simple:active,
.dark button.icon-button.simple:active {
  opacity: 0.75;
}

/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
    Custom Classes
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
.normal {
  font-weight: normal;
}

.center {
  text-align: center;
}

@media (max-width: 800px) {
  .center-mobile {
    text-align: center;
  }
}

.align-right {
  text-align: right;
}

/* Creates block texts */
.justify {
  text-align: justify;
}

.italic {
  font-style: italic;
}

/* 
Used to set preferred break points, which will occur
between lines
*/
.line {
  display: inline-block;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 800px) {
  .no-scroll-mobile {
    overflow: hidden;
  }
}

.hidden {
  visibility: hidden;
}

.betta_hidden {
  display: none;
}

.betta_spacer-half {
  display: block;
  height: $line-height-half;
}

.click-plane {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.inline-single,
.inline-split,
.inline-ternate {
  display: inline-block;
  padding: 0 1rem 1rem 1rem;
  vertical-align: top;
}

.inline-single {
  width: 100%;
}

.inline-single label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.inline-split {
  width: 50%;
}

.inline-split input,
.inline-split select,
.inline-split label {
  width: 100%;
}

.inline-split .material-icons-round,
.inline-single .material-icons-round {
  vertical-align: bottom;
}

.inline-ternate {
  width: 33.333333%;
}

@media (max-width: 600px) {

  .inline-split,
  .inline-ternate {
    display: block;
    width: 100%;
  }
}

/*---------------------------------------
	Overlapping Text Box
---------------------------------------*/
.betta_overlap-top {
  position: relative;
  margin-top: -5rem;
  z-index: 2;

  /* Using 1px padding because if you use
  0 then the padding from text in the box
  is also removed. */
  padding: 1px 2rem;

  background: $color-base-1;
  max-width: 34rem;

  @media (max-width: 800px) {
    margin-top: 0;
    padding: 0 1rem;
    background: none;
  }

  h2 {
    margin-top: 1.75rem;
  }
}

.dark .betta_overlap-top {
  background: $color-base-9;
}

/*-------------------------------------*/

/*---------------------------------------
	Gallery
---------------------------------------*/
#gallery,
.gallery {
  margin: 0 -0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.gallery-item {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  margin: 0;
  padding: 0 0.5rem 1rem 0.5rem;
}

.gallery-item>.content {
  position: relative;
}

.photo>img {
  width: 100%;
  box-shadow: $shadow-level-1;
  background: $color-base-1;
  border-radius: $radius-1;
}

.dark .photo>img {
  box-shadow: $dark-shadow-level-1;
  background: $color-base-9;
}

.gallery-item>.content>.click-plane {
  border-radius: $radius-1;
}

.gallery-item>.content>.click-plane.caption {
  background: $color-white;
  opacity: 0.85;
}

.dark .gallery-item>.content>.click-plane.caption {
  background: $color-base-10;
}

.gallery-item>.content>.click-plane.caption>p {
  padding: 0 1rem;
}

@media (max-width: 800px) {

  #gallery,
  .gallery {
    padding-bottom: 0rem;
  }

  .gallery-item {
    width: 100%;
    padding: 0 0.5rem 2rem 0.5rem;
  }
}

@media (max-width: 480px) {

  #gallery,
  .gallery {
    padding-bottom: 0.75rem;
  }

  .gallery-item {
    padding-bottom: 1.25rem;
  }
}

/*-------------------------------------*/

/*---------------------------------------
	Link Card
---------------------------------------*/
.card {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 25.5rem;
  max-width: 100%;
  padding: 0;
  margin: 1rem;
  border-color: $color-base-3;
  border-radius: $radius-1;
  box-shadow: $shadow-level-1;
  transition: $transition-default;
}

.dark .card {
  box-shadow: $dark-shadow-level-1;
  border-color: $color-base-7;
  background-color: $color-base-9;
}

.card .betta_image {
  width: 25.5rem;
  max-width: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background: $color-base-1;
  overflow: hidden;
}

.dark .card .betta_image {
  background: $color-base-9;
}

.card .betta_image img {
  width: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: $transition-default;
  image-orientation: none;
}

/* Cover card */
.card.cover {
  margin-bottom: 1rem;
}

.card.cover .betta_image img,
.card.cover .betta_image {
  border-radius: $radius-1;
}

.card.cover .betta_image img {
  aspect-ratio: 3 / 2; // Experimental property, not yet fully supported
  object-fit: cover; // Prevents images from being stretched
}

.card.cover .content {
  position: absolute;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  border: 2px solid $color-white;
  transition: $transition-default;
}

.dark .card.cover .content {
  border-color: $color-base-9;
}

.card.cover h2,
.card.cover h3,
.card.cover h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: auto;
  margin: 0 auto 0 auto;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
  border: none;
  background: $color-white;
  transition: $transition-default;
}

.dark .card.cover h2,
.dark .card.cover h3,
.dark .card.cover h4 {
  background: $color-base-9;
}

a.card:active {
  box-shadow: $shadow-level-0;
}

.card p {
  margin-top: 0.5rem;
  padding: 0 2rem 2rem 2rem;
  text-align: left;
}

.card p.small {
  margin-top: -2rem;
  padding: 0 2rem;
  text-align: left;
}

.card h2,
.card h3,
.card h4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.card h2,
.card h3,
.card h4,
.card-double h2,
.card-double h3,
.card-double h4 {
  padding: 0 0 1rem 0;
  margin-top: 2.15rem;
  border-bottom: 3px solid $color-base-3;
  font-size: 1.6rem;
  line-height: 2.15rem;
  letter-spacing: 0.05rem;
  text-align: center;
  transition: $transition-default;
}

.dark .card h2,
.dark .card h3,
.dark .card h4,
.dark .card-double h2,
.dark .card-double h3,
.dark .card-double h4 {
  border-color: $color-base-7;
}

@media (hover: hover) {

  a.card:hover h2,
  a.card:hover h3,
  a.card:hover h4,
  a.card-double:hover h2,
  a.card-double:hover h3,
  a.card-double:hover h4 {
    border-bottom: 3px solid $color-black;
  }

  .dark a.card:hover h2,
  .dark a.card:hover h3,
  .dark a.card:hover h4,
  .dark a.card-double:hover h2,
  .dark a.card-double:hover h3,
  .dark a.card-double:hover h4 {
    border-bottom-color: $color-base-1;
  }

  a.card:hover {
    cursor: pointer;
  }

  a.card.cover:hover .content {
    top: 1.5rem;
    left: 1.5rem;
    bottom: 1.5rem;
    right: 1.5rem;
  }

  a.card.cover:hover h2,
  a.card.cover:hover h3,
  a.card.cover:hover h4 {
    bottom: -1rem;
    left: -1rem;
    right: -1rem;
    border: none;
  }
}

@media (max-width: 800px) {
  .card {
    padding: 0;
    margin: 1rem 0 0 0;
  }

  .card p {
    margin-top: 0;
    padding: 0 1rem;
    text-align: left;
  }

  .card h2,
  .card h3,
  .card h4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .card h2,
  .card h3,
  .card h4,
  .card-double h2,
  .card-double h3,
  .card-double h4 {
    margin-top: 1.25rem;
  }

  .card.cover h2,
  .card.cover h3,
  .card.cover h4 {
    font-size: 1rem;
    line-height: $line-height;
  }
}

/*-------------------------------------*/

/*---------------------------------------
	Link Card Double
---------------------------------------*/

.card-double {
  display: block;
  width: 55rem;
  max-width: 100%;
  height: 27.5rem;
  padding: 0;
  margin-top: 3rem;
  border-color: $color-base-3;
  border-radius: $radius-1;
  box-shadow: $shadow-level-1;
  overflow: hidden;
  transition: $transition-default;
  background-color: $color-base-0;
}

.dark .card-double {
  box-shadow: $dark-shadow-level-1;
  border-color: $color-base-7;
  background-color: $color-base-9;
}

.card-double .betta_image,
.card-double .content {
  display: inline-block;
  height: 100%;
  width: 50%;
  vertical-align: top;
}

.card-double .betta_image {
  background: $color-base-1;

  img {
    object-fit: cover;
  }
}

.dark .card-double .betta_image {
  background: $color-base-9;
}

.card-double .betta_image img {
  height: 27.5rem;
  width: 27.5rem;
  margin-bottom: -3px;
  border-radius: 0;
  transition: $transition-default;
}

.card-double .content {
  max-height: 100%;
  padding: 4rem 3rem 0 3rem;
}

@media (hover: hover) {
  a.card-double:hover {
    cursor: pointer;
  }
}

a.card-double:active {
  box-shadow: $shadow-level-0;
}

@media (max-width: 800px) {
  .card-double {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 2rem;
  }

  .card-double .betta_image img {
    height: auto;
    width: 100%;
  }

  .card-double .betta_image,
  .card-double .content {
    height: auto;
    width: 100%;
    display: block;
  }

  .card-double .betta_image {
    order: 1;
  }

  .card-double .content {
    order: 2;
    padding: 0 1rem;
  }
}

/*-------------------------------------*/

/*---------------------------------------
	Contact Card
---------------------------------------*/
.card.contact {
  display: inline-block;
  vertical-align: top;
  width: 25rem;
  max-width: calc(100% - 1.5rem);
  margin: 1.25rem 0.75rem 0 0.75rem;
  box-shadow: none;

  .picture {
    width: 25rem;
    max-width: 100%;
    overflow: hidden;
  }

  .content {
    position: relative;
    width: 16rem;
    padding: 1rem 0.5rem;
    margin: -2.75rem auto 1rem auto;
    z-index: 2;
    background: $color-base-1;

    p {
      margin: 0;
      text-align: center;
    }
  }

  .close {
    display: none;
    position: absolute;
    top: -1rem;
    left: -1rem;
    height: 2rem;
    width: 2rem;
    border-bottom: none;
    z-index: 2;
    padding: 0;

    .icon img {
      width: 2rem;
      height: 2rem;
      overflow: visible;

      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .phone {
    position: absolute;
    top: 1.25rem;
    left: -1.25rem;
    border-bottom: none;
    z-index: 1;

    img {
      transform: scaleX(-1);
    }
  }

  .email {
    position: absolute;
    top: 1.25rem;
    right: -1.25rem;
    border-bottom: none;
    z-index: 1;
  }

  .phone-number,
  .email-address {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 1.3rem;
    background: $color-base-1;
  }

  @media (max-width: 800px) {
    .phone {
      top: 0.5rem;
      left: -2rem;
    }

    .email {
      top: 0.5rem;
      right: -2rem;
    }
  }
}

.dark .card.contact {
  .content {
    background: $color-base-9;
  }

  .phone-number,
  .email-address {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 1.3rem;
    background: $color-base-9;
  }

  @media (hover: hover) {

    .phone-number:hover+.phone,
    .email-address:hover+.email {
      background-color: $color-base-10;
    }
  }
}

/*-------------------------------------*/

/*---------------------------------------
	Flip Card
---------------------------------------*/
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  vertical-align: top;
  display: inline-block;
}

.flip-card>.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: $shadow-level-1;
  border-radius: $radius-1;
}

.dark .flip-card>.card {
  box-shadow: $dark-shadow-level-1;
}

.flip-card:hover>.card,
.flip-card>.card.active {
  transform: rotateY(180deg);
}

.flip-card>.card>.front,
.flip-card>.card>.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card>.card>.front img {
  width: 100%;
  margin: 0;
  border-radius: $radius-1;
}

.flip-card>.card>.back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotateY(180deg);
}

.flip-card>.card>.back textarea {
  height: 100%;
  min-height: 0px;
  margin: 0;
  padding: 0;
}

/*-------------------------------------*/

/*---------------------------------------
	Lightbox
---------------------------------------*/
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $color-white;
  z-index: 100;
}

.dark .lightbox {
  background: $color-base-10;
}

.lightbox.open {
  display: block;
}

.lightbox .left,
.lightbox .middle,
.lightbox .right {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
}

.lightbox .left {
  width: 4rem;
  left: 0;
  padding: 1rem;
}

.lightbox .middle {
  display: table;
  height: 100vh;
  max-height: 100vh;
  width: calc(100vw - 8rem);
  left: 4rem;
  right: 4rem;
  text-align: center;
}

.lightbox .right {
  width: 4rem;
  right: 0;
  padding: 1rem;
}

#close,
#caption {
  z-index: 99;
  position: absolute;
  display: block;
}

#caption {
  margin-top: 4rem;
}

#back,
#forward {
  z-index: 99;
  position: absolute;
  margin-top: 45vh;
}

#back:disabled,
#forward:disabled {
  display: none;
}

#back {
  left: 1rem;
}

#forward {
  right: 1rem;
}

.lightbox .middle .img,
.lightbox .middle .caption {
  width: 100%;
}

.lightbox .middle .img {
  display: table-cell;
  vertical-align: middle;
  padding: 1rem 0;
}

.lightbox .middle .img img {
  max-width: 100%;
  max-height: calc(100vh - 2rem);
  border-radius: $radius-1;
}

.lightbox .middle .caption {
  display: none;
  position: absolute;
  top: 1.8rem;
  left: 1rem;
  width: auto;
  padding: 0.5rem 1rem;
  border-radius: $radius-1;
  box-shadow: $shadow-level-2;
  background: $color-white;
}

.dark .lightbox .middle .caption {
  box-shadow: $dark-shadow-level-2;
  background: $color-base-7;
}

.lightbox .middle .caption.open {
  display: block;
}

/*-------------------------------------*/

/*---------------------------------------
	Version
---------------------------------------*/
p.version {
  position: fixed;
  bottom: 70vh;
  right: 0.5rem;
  width: 70vh;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: right bottom;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: right bottom;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin: right bottom;
  -o-transform: rotate(-90deg);
  -o-transform-origin: right bottom;
  transform: rotate(-90deg);
  transform-origin: right bottom;
}

@media (max-width: 800px) {
  p.version {
    display: none;
  }
}

/*-------------------------------------*/

/*---------------------------------------
	Notification
---------------------------------------*/
#notification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
}

#notification .buttons,
#notification .content {
  display: inline-block;
  vertical-align: middle;
}

#notification.show {
  display: block;
}

#notification .buttons {
  width: 20%;
}

#notification .content {
  width: 80%;
}

#notification .message {
  width: 20rem;
  align-content: right;
  margin: 1rem;
  padding: 1rem;
  float: right;
  border: solid 1px;
  border-color: rgb(129, 120, 106);
  border-radius: 1rem;
  word-wrap: break-word;
  background-color: #ff3737;
  /* TEMP */
}

#cancel-notification {
  display: none;
  margin-bottom: 1rem;
}

#cancel-notification.show {
  display: block;
}

/*-------------------------------------*/

/*---------------------------------------
	Size restraints on large screens
---------------------------------------*/
@media (min-width: 1000px) {
  .w-100 {
    width: 100%;
  }

  .w-90 {
    width: 90%;
  }

  .w-80 {
    width: 80%;
  }

  .w-70 {
    width: 70%;
  }

  .w-60 {
    width: 60%;
  }

  .w-50 {
    width: 50%;
  }
  
  .w-40 {
    width: 40%;
  }

  .w-30 {
    width: 30%;
  }

  .w-20 {
    width: 20%;
  }

  .w-10 {
    width: 10%;
  }

  .w-100, .w-90, .w-80, .w-70, .w-60, .w-50, .w-40, .w-30, .w-20, .w-10 {
    margin-left: auto;
    margin-right: auto;
  }
}

/*-------------------------------------*/

/*---------------------------------------
	Padding removers
---------------------------------------*/
.p-t-0 {
  padding-top: 0;
}

.p-r-0 {
  padding-right: 0;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-l-0 {
  padding-left: 0;
}

/*-------------------------------------*/

/*---------------------------------------
	Margin removers
---------------------------------------*/
.m-t-0 {
  margin-top: 0;
}

.m-r-0 {
  margin-right: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-l-0 {
  margin-left: 0;
}

/*-------------------------------------*/

/*---------------------------------------
	Switch Picture
---------------------------------------*/
.switch-picture {
  display: block;
  position: relative;
  top: 1.25rem;
  left: -1.25rem;
  z-index: 9;
  margin-top: -2rem;
}

@media (max-width: 800px) {
  .switch-picture {
    top: 3rem;
    left: -1rem;
  }
}

@media (hover: hover) {
  .switch-picture {
    display: none;
  }
}

/*-------------------------------------*/

/*---------------------------------------
	Video
---------------------------------------*/
.betta_video {
  width: 100%;

  video {
    width: 100%;
    height: auto;
  }
}

/*-------------------------------------*/